
/* font */

@import url("https://rsms.me/inter/inter.css");

:root{
    font-family: 'Inter', sans-serif;
    --primary-color: cadetblue;
}

@supports(font-variation-settings: normal){
    :root{ 
        font-family: 'Inter var', sans-serif;
    }
}

*{
    line-height: 1.5;
}

iframe body{
    overflow: hidden;
}

html, body{
    margin: 0;
}

.body{
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}
    
a:hover{
    text-decoration: underline;
}

/* text */

h1{
    font-size: 2rem;
    font-weight: 900;
}

.fly-title{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
}

.fly-title:hover{
    text-decoration: none;
}

.fly-text-muted{
    color: gray;
}

.fly-text-center{
    text-align: center;
}

.fly-text-lead{
    font-size: 1.1rem;
    font-weight: 700;
}

.fly-link-text{
    text-decoration: none;
    color: inherit;
}
    
.fly-link-text:hover{
    color: var(--primary-color);
    text-decoration: none;
}

/* container */

.fly-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* flex */

.fly-flex{
    display: flex;
}

.fly-flex-column{
    flex-direction: column;
}

.fly-flex-space-between{
    justify-content: space-between;
}

.fly-flex-space-around{
    justify-content: space-around;
}

.fly-flex-middle{
    align-items: center;
}

.fly-flex-top{
    align-items: top;
}

.fly-flex-wrap{
    flex-wrap: wrap;
}

/* height */

.fly-full-height{
    min-height: 100vh;
}

/* padding */

.fly-padding-top{
    padding-top: 1rem;
}

/* margin */

.fly-margin-small{
    margin: 0.5rem;
}

.fly-margin-none{
    margin: 0;
}

.fly-margin-none-bottom{
    margin-bottom: 0;
}

.fly-margin-none-top{
    margin-top: 0;
}

.fly-margin{
    margin: 1rem;
}

.fly-margin-left{
    margin-left: 1rem;
}

.fly-margin-right{
    margin-right: 1rem;
}

.fly-margin-small-right{
    margin-right: 0.5rem;
}

.fly-margin-small-bottom{
    margin-bottom: 0.5rem;
}

.fly-margin-xsmall-right{
    margin-right: 0.25rem;
}

.fly-margin-top{
    margin-top: 1rem;
}

.fly-margin-bottom{
    margin-bottom: 1rem;
}

.fly-margin-horizontal-auto{
    margin-left: auto;
    margin-right: auto;
}

.fly-margin-large-top{
    margin-top: 1.5rem;
}

/* grid */

.fly-grid{
    display: grid;
    gap: 1rem;
}

.fly-grid-2{
    grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 768px){

    .fly-grid-2{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* width */

[class*="fly-width-"]{
    width: 100%;
}

.fly-mobile-only{
    display: none;
}

@media only screen and (min-width: 768px){

    .fly-mobile-only{
        display: initial;
    }

    .fly-width-expand-small{
        width: initial;
    }

    .fly-width-1-1{
        width: 100%;
    }

    .fly-width-1-3{
        width: 33.33%;
    }

    .fly-width-2-3{
        width: 66.66%;
    }

    .fly-width-1-2{
        width: 50%;
    }

    .fly-width-1-4{
        width: 25%;
    }

    .fly-width-3-4{
        width: 75%;
    }

}

/* list */

ul.fly-list{
    list-style-type: none;
    padding: 0;

}

ul li:not(:last-child){ 
    margin-bottom: 1rem;  
}

/* navigation */

ul.fly-nav{
    list-style-type: none;
    padding: 0;
}

ul.fly-nav li{
    display: inline;
}

ul.fly-nav li:not(:first-child){
    margin-left: 1rem;
}


ul.fly-nav li a{
    text-decoration: none;
    color: inherit;
}

ul.fly-nav li a:hover{
    color: var(--primary-color);
}

/* card */

.fly-card{
    background-color: whitesmoke;
    padding: 1rem;
}

/* code and pre*/

pre{
    background-color: whitesmoke !important;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    line-height: 1.25 !important;
    font-size: inherit !important;
}

code{
    font-size: inherit !important;
    border-radius: 0 !important;
    line-height: inherit !important;
}

code *{
    font-size: inherit !important;
    line-height: inherit !important;
}

.fly-nav-active{
    color: var(--primary-color) !important;
}


.fly-header{

    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.fly-1-2-desktop{

    width: 50%;
}

@media screen and (max-width: 80rem) {

    .fly-header{

        flex-direction: column;
        align-items: center;
    }

    .fly-1-2-desktop{

        width: 100%;
    }
}

.fly-footer{
    z-index: 1;
    position: relative;
}
